<!--BLOGPOST EDIT-->
<% include ../partials/header %>

<section class="editblogpostpage">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Edit post: <%= artipost.name %></h1>
            </div>
        </div>
        <form action="/artifactposts/<%= artipost._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <input class="form-control" type="text" name="name" value="<%= artipost.name %>">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <input class="form-control" type="number" name="year", min="1850" max="2019" step="1" value="<%= artipost.year %>" />
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <input type="file" id="image" name="image" accept="image/*" multiple>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <input class="form-control" type="text" name="location" value= <%=artipost.location%> required />
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <textarea  rows="10" col="50" class="form-control" type="text" name="description"><%= artipost.description %></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <select class="selectpicker" data-style="btn-info" name="option">
                        <optgroup label="Select Table">
                            <!-- Change the privacy -->
                            <option name="" value="0">Select Post Options</option>
                            <option <%= artipost.option == '1' ? "selected" : ""  %> name="public" value="1">Public</option>
                            <option <%= artipost.option == '2' ? "selected" : ""  %> name="friends" value="2">Friends</option>
                            <option <%= artipost.option == '3' ? "selected" : ""  %> name="private" value="3">Private</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 editblogpostbuttons">
                    <button class="btn btn-md btn-primary">Submit!</button>
                    <a class="btn btn-md btn-outline-primary" href="/artifactposts/<%=artipost._id%>">Back</a>
                </div>
            </div>
        </form>
    </div>
</section>
<% include ../partials/footer %>
