<!--BLOGPOST INDEX-->
<% include ../partials/header %>

<section class="blogpostindexpage">
  <div class="blogpostindexintro greybackground">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h2>Artifacts</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 blogpostintrotext">
            <p>
              <form action="/artifactposts/search" method="get">
                <input type="text" name="name" placeholder="Search your artifact...">
                <input type="submit" value="Search">
              </form>
            </p>

        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p>
            <a class="btn btn-primary btn-sm" href="/artifactposts/new">Add New Post</a>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <% artipost.sort().reverse().forEach(function(artipost){ %>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">

        <a href="/artifactposts/<%=artipost._id %>"
          ><img class="img-fluid" src="<%= artipost.image[0] %>"
        />

        </a>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">
        <p><%=artipost.year%></p>
        <% if(artipost.image.length >= 2){ %>
          <i class="multi-icon far fa-clone mb-1"></i>
        <% } %>
        <% if(artipost.option == '2'){ %>
          <i class="family-icon fas fa-user-friends mb-1"></i>
        <% } %>
        <% if(artipost.option == '3'){ %>
          <i class="private-icon fas fa-lock mb-1"></i>
        <% } %>
        <h2><%=artipost.name%></h2>
        <p><%- artipost.description.substring(0, 200) %>...</p>
        <a class="btn btn-outline-primary" href="/artifactposts/<%=artipost._id %>"
          >Read More</a
        >
      </div>
    </div>
    <div class="row">
      <hr width="96%" />
    </div>
    <% }); %>
  </div>
</section>

<% include ../partials/footer %>
